pipeline/Run Movies Extract.json
{
	"name": "Run Movies Extract",
	"properties": {
		"activities": [
			{
				"name": "Movies Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct ProcessName\nfrom ProcessMetadata.ControlTable\nwhere ProcessName = 'Movies';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLDatabase",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Movies Extract",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Movies Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Dynamic Extract Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ProcessName": {
							"value": "@activity('Movies Lookup').output.value[0].ProcessName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Azure Extract"
		},
		"annotations": []
	}
}