Ryan-DF/PartialArmTemplates/ArmTemplate_6_28_2021_15_56_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Ryan-DF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Run Movies Extract')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Movies Lookup",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "RunKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select distinct ProcessName, '@{variables('RunKey')}' as RunKey\nfrom ProcessMetadata.ControlTable\nwhere ProcessName = 'Movies'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSQLDatabase",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Movies Extract",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Movies Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Dynamic Extract Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ProcessName": {
									"value": "@activity('Movies Lookup').output.value[0].ProcessName",
									"type": "Expression"
								},
								"RunKey": {
									"value": "@activity('Movies Lookup').output.value[0].RunKey",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Generate RunKey",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[ProcessMetadata].[LogRunKey]",
								"storedProcedureParameters": {
									"ProcessName": {
										"type": "String",
										"value": "Movies"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSQLDatabase",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "RunKey",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Generate RunKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunKey",
							"value": {
								"value": "@replace(replace(string(activity('Generate RunKey').output.firstrow),'{\"\":\"',''),'\"}','')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Log RunKey as Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Movies Extract",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ProcessMetadata].[UpdateLogRunKey]",
							"storedProcedureParameters": {
								"ProcessName": {
									"value": "Movies",
									"type": "String"
								},
								"RunKey": {
									"value": {
										"value": "@variables('RunKey')",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Status": {
									"value": "S",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AZDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log RunKey as Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Movies Extract",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ProcessMetadata].[UpdateLogRunKey]",
							"storedProcedureParameters": {
								"ProcessName": {
									"value": "Movies",
									"type": "String"
								},
								"RunKey": {
									"value": {
										"value": "@variables('RunKey')",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Status": {
									"value": "F",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AZDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"RunKey": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Azure Extract"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}